
.Global-Heading
{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.Global-Text
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}